# Server Configuration
PORT=5000
JWT_SECRET=super_secret_jwt_signing_key_change_me_in_production

# Firebase Admin SDK Credentials
# Go to Firebase Console -> Project Settings -> Service Accounts -> Generate Private Key
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
# Replace actual private key newlines with \n when placing in one line in .env
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQ...\n-----END PRIVATE KEY-----\n"

# Firebase Web API Key (Required on backend to perform email/password sign-in using Identity Toolkit REST API)
# Go to Firebase Console -> Project Settings -> General -> Web API Key
FIREBASE_API_KEY=AIzaSyAxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
